<!doctype html>
<html class="no-js">
    <head>
        <title>{{ page.title }}</title>

        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta property="og:url" content=""/>
        <meta property="og:image" content="/og-image.png"/>
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:description" content="{{ page.description }}"/>

        <link rel="shortcut icon" href="/favicon.png"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />

        <link rel="stylesheet" href="/assets/css/main.css">

        <script>(function(e,t,n,r,i,s){e.GoogleAnalyticsObject=r;e[r]||(e[r]=function(){(e[r].q=e[r].q||[]).push(arguments)});e[r].l=+(new Date);i=t.createElement(n);s=t.getElementsByTagName(n)[0];i.src="//www.google-analytics.com/analytics.js";s.parentNode.insertBefore(i,s)})(window,document,"script","ga");ga("create","UA-XXXXX-X");ga("send","pageview")</script>
    </head>
    <body>
        {{ content }}
    </body>
</html>
